<header class="l_header">
	<div class='wrapper'>
		<div class="nav-main container container--flex">
			<a class="logo flat-box" href="{{ '/' | relative_url}}">
				{{ site.title }}
			</a>
			{% if site.menu %}
			<div class='menu'>
				<ul class='h-list'>
					{% for value in site.menu %}
					<li>
						{%- if value.new_window -%}
						<a href="{{ value.url | relative_url }}" class='flat-box nav-{{ value.slug }}  ' rel="noopener nofollow" target="_blank">
							{% else %}
							<a class='flat-box nav-{{ value.slug }}' href='{{ value.url | relative_url }}'>
								{% endif %}
								{{ value.name }}
							</a>
					</li>
					{% endfor %}
				</ul>
				<div class='underline'></div>
			</div>
			{% endif %}


			<div class="m_search">
				<form name="searchform" class="form u-search-form">
					<input type="text" id="search-input" class="input u-search-input" placeholder="Search" />
					<span class="icon icon-search"></span>
				</form>
				<ul id="results-container">
				</ul>
			</div>

		</div>

		<div class='nav-sub container container--flex' style="display: none">
			<a class="logo" class="flat-box" href='javascript:void(0)'>
				{{ site.title }}
			</a>
			<ul class='switcher h-list '>
				<li class='s-home'><a href="{{ '/' | relative_url}}"><span class="icon icon-home flat-box waves-effect waves-block"></span></a></li>
				<li class='s-top' title="定位顶部"><a href='javascript:void(0)'><span class="icon icon-arrow-up flat-box waves-effect waves-block"></span></a>
				</li>
				{% if post.toc != false && site.toc.enable %}
				<li class='s-toc' title="内容大纲"><a href='javascript:void(0)'><span class="icon icon-list-ul flat-box waves-effect waves-block"></span></a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</header>

<aside class="menu-phone">
	<nav>
		{% for value in site.menu %}
		{% if value.url and value.slug and value.name) %}
		{% if value.new_window %}
		<a href="{{ value.url | relative_url }}" class="nav-{{ value.slug }} nav" rel="noopener nofollow" target="_blank">
			{% else %}
			<a href="{{ value.url | relative_url }}" class="nav-{{ value.slug }} nav">
				{{ value.name }}
			</a>
			{% endif %}
			{% endif %}
			{% endfor %}
	</nav>
</aside>