{% if page.title %}
<script>
  window.subData = { title: '{{ page.title }}' }
</script>
{% endif  %}
{%- assign _pathinfo = page.pathinfo -%}
<section class="post-list">
  {%- for _article in paginator.posts -%}
  <div class='post-wrapper'>
    {%- include post.html post=_article -%}
  </div>
  {%- endfor -%}
</section>
{% if paginator.total_pages > 1 %}
<nav id="page-nav" class="pagination">
  {% if paginator.previous_page %}
  <a class="prev_page" rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}">
    <span class="icon icon-chevron-left"></span>
    <span class="text"> </span>
  </a>
  {% endif %}
  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <em>{{ page }}</em>
  {% elsif page == 1 %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
  {% else %}
  <a
    href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page | prepend: _pathinfo  }}">{{ page }}</a>
  {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
  <a class="next_page" rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}">
    <span class="text">  </span>
    <span class="icon icon-chevron-right"></span>
  </a>
  {% endif %}
</nav>
{% endif %}
