<header class="l_header">
	<div class='wrapper'>
		<div class="nav-main container container--flex">
			<a class="logo flat-box" href="{{ '/' | relative_url}}">
				{{ site.title }}
			</a>
			{% if site.menu %}
			<div class='menu'>
				<ul class='h-list'>
					{% for value in site.menu %}
					<li >
						{%- if value.new_window -%}
						<a href="{{ value.url | relative_url }}" class='flat-box nav-{{ value.slug }}  ' rel="noopener nofollow" target="_blank">
							{% else %}
							<a class='flat-box nav-{{ value.slug }}' href='{{ value.url | relative_url }}'>
								{% endif %}
								{{ value.name }}
							</a>
					</li>
					{% endfor %}
				</ul>
				<div class='underline'></div>
			</div>
			{% endif %}

			{% if site.algolia_search.enable or site.local_search.enable %}
			{% assign hasSearch = true %}
			{% endif %}

			{% if hasSearch %}
			<div class="m_search">
				<form name="searchform" class="form u-search-form">
					<input type="text" class="input u-search-input" placeholder="Search" />
					<span class="icon icon-search"></span>
				</form>
			</div>
			{% endif %}
			<ul class='switcher h-list'>
				{% if hasSearch %}
				<li class='s-search'><a href='javascript:void(0)'><span class="icon icon-search flat-box"></span></a>
				</li>
				{% endif %}
				<li class='s-menu'><a href='javascript:void(0)'><span class="icon icon-menu flat-box"></span></a></li>
			</ul>
		</div>

		<div class='nav-sub container container--flex'>
			<a class="logo" class="flat-box" href='javascript:void(0)'>
				Word of Forks
			</a>
			<ul class='switcher h-list'>
				<li class='s-comment'><a href='javascript:void(0)'><span class="icon icon-chat_bubble_outline flat-box"></span></a></li>
				<li class='s-top'><a href='javascript:void(0)'><span class="icon icon-arrow_upward flat-box"></span></a>
				</li>
				<li class='s-toc'><a href='javascript:void(0)'><span class="icon icon-format_list_numbered flat-box"></span></a></li>
			</ul>
		</div>
	</div>
</header>
<aside class="menu-phone">
	<nav>
		{% for value in site.menu %}
		{% if value.url and value.slug and value.name) %}
		{% if value.new_window %}
		<a href="{{ value.url | relative_url }}" class="nav-{{ value.slug }} nav" rel="noopener nofollow" target="_blank">
			{% else %}
			<a href="{{ value.url | relative_url }}" class="nav-{{ value.slug }} nav">
				{{ value.name }}
			</a>
			{% endif %}
			{% endif %}
			{% endfor %}
	</nav>
</aside>