<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {% include _header/title.html %}
  <title>{%- if __return -%}{{ __return }} {%- else -%}{{ site.title }}{%- endif -%}</title>
  <meta name="description"
    content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}{%- else -%}{{ site.description }}{%- endif -%}">
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Titillium+Web|Roboto+Mono" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/css/prism.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/prism-line-numbers.css" | prepend: site.baseurl }}">
    
    {% for style in page.styles %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/' | append: style | prepend: site.baseurl | prepend: site.url}}" />
    {%endfor%}

</head>
