{%- assign post = include.post -%}

<article id="{{ post.layout }}-{{ post.slug }}" class="post info white-box article-type-{{ post.layout }}" itemscope
 itemprop="blogPost">
	<section class='meta'>
		<h2 class="title" style="display:none">
			{%- include _snippets/prepend-baseurl.html path=post.url -%}
			{%- assign _article_url = __return -%}
			<a href="{{ _article_url }}">
				{{ post.title }}
			</a>
		</h2>
		<time>
			<span class="icon  icon-calendar-times-o"></span> {{ post.date | date:'%Y-%m-%d'}}
		</time>
		{%- include archive-categories.html post=post -%}


	</section>

	{%- if post.tags && post.tags.length -%}
	<section class="article typo">
		<div class="full-width auto-padding tags">
			{% for tag in post.tags %}
			<a href="/search/tags/{{  tag |  slugify: 'unicode'| replace:' ','-'}}"> {{ tag }}</a>
			{% endfor %}
		</div>
	</section>
	{%- endif -%}

	{% if post.toc != false && site.toc.enable %}
	<section class="toc-wrapper" style="display:none">
		<div class="nav">
			<span>Table Of Contents </span>
		</div>
		<div class="js-toc"></div>
	</section>
	{%- endif -%}

	<section class="article typo">
		<div class="article-entry" itemprop="articleBody">
			{{ post.content }}
		</div>
		{%- if post.tags and post.tags.length -%}
		<div class="article-tags tags">
			{%- for tag in post.tags -%}
			<a href="{{ item.path }}"> {{ item.name }}</a>
			{%- endfor -%}
		</div>
		{%- endif -%}
		{% include _common/reward.html %}
		{%- assign sUrl= _article_url -%}
		<div class="art-item-footer">   
			{% include share-fab.html  post=post sUrl=sUrl %}
			{% include _common/page.html %}
		</div>
	</section>
	{% include gitalk.html %}
</article>
{% if site.share.enable %}
{% assign scope = "global" %} 
{% include _common/share.html scope=scope sUrl=sUrl %}
{%- endif -%}
<script>
	window.subData = {
		title: '{{ post.title }}',
		tools: true
	}
</script>