{% if site.share.enable %}
{% if post.title %}
<div class="page-share-wrap">
    {% assign scope = "page" %} 
    {% assign sTitle = post.title %} 
    {% assign sDesc = post.content | strip_html |  slice: 0, 280  %} 
    {% assign sPic = "https://imys.net/img/face.jpg"  %} 
    {% include _common/share.html scope=scope sUrl=sUrl sTitle=sTitle sPic=sPic sDesc=sDesc  %}
    <a href="javascript:;" id="shareFab" class="page-share-fab waves-effect waves-circle">
        <i class="icon icon-share-alt icon-lg"></i>
    </a>
</div>
{% endif %}
{% endif %}