.l_header {
	position:fixed;
	z-index: 999;
	top:0;
	left:0;
	width:100%;
	font-size: $header-font-size;
	line-height: $header-height;
	height: $header-height;
	// overflow: hidden;
	.wrapper{
		transition: transform .2s ease-out;
	}
	.wrapper.sub{
		transform: translateY(-$header-height);
	}
	.nav--main,.nav-sub{
		height: $header-height;
	}
	background: $primary-color;
	padding: 0 $gap;
	&, a{
		color: $white;
	}
	@extend .z-depth-1;
	.logo {
		flex: none;
		padding: 0 $gap;
		font-size: $header-logo-font-size;
	}
	.menu{
		position:relative;
		flex: 1 0 auto;
		height: $header-height;
		@include enable-trans();
		margin:0 28px;
		ul > li > a{
			@include enable-trans();
			display: block;
			color: rgba($white,70%/100.0%);
			padding: 0 $gap / 2;
			&:hover,&.active{
				color: $white;
			}
		}
		@media(max-width: $on-phone){
			display:none;
		}
		.underline{
			transition: all .15s ease-out;
			position: absolute;
			background: $white;
			left: 0;
			bottom: 0;
			width: 0;
			height: 2px;
		}
	}
	.switcher{
		display: none;
		font-size: $header-switcher-font-size;
		& > li{
			margin-left: $gap;
			@include enable-trans();
			svg{
				margin-top:16px;
			}
		}
		// & > li.s-menu.active {
		// 	transform: rotate(90deg);
		// }
		@media(max-width: $on-phone){
			display: flex;
		}
	}
	.nav-sub .switcher{
		display: flex;
	}
	@media (max-width: $on-phone)  {
		.m_search{
			width:0;
			overflow: hidden;
			position: absolute;
			@include enable-trans();
			right: 0px;
			top:($header-height - $search-height)/2;
		}
		&.z_search-open{
			.logo,.switcher{
				opacity:0;	
			}
			.m_search{
				width: 100%;			
			}
		}
	}
}
.m_search {
	position: relative;
	height: $search-height;
	width: $search-width;
	line-height: $search-height;
	vertical-align: middle;
	.form {
		position: relative;
		display: block;
		width: 100%;
	}
	.icon,.input{
		@include enable-trans(.1s);
	}
	.icon {
		position: absolute;
		display:block;
		height: $search-height;
		width: $search-height;
		line-height: $search-height;
		top: 0;
		left: $gap/2;
	}
	.input {
		display:block;
		font-size: 14px;
		line-height: $search-height - 10px;
		margin: 0;
		width: 100%;
		color: $white;
		padding: 5px 10px 5px 40px;
		height: $search-height;
		line-height: $search-height;
		font-family: $base-font-family;
		border: none;
		border-radius: 3px;
		background:rgba($white,15%/100.0%);
		box-sizing: border-box;
		-webkit-appearance: none;
		box-shadow: none;
		transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		&:hover{
			background: rgba($white,35%/100.0%);
		}
		&:focus {
			color:$black;
			background: $white;
			@include set-placeholder {color: $black}; 
		}
		&:focus ~ .icon{
			color: $black;
		}
		@include set-placeholder {color: $white};
	}
	
}

.menu-phone{
	position: fixed;
	top: 0;
	right: 0;
	width: 220px;
	z-index:9999;
	padding: $gap/2 0px;
	line-height: 2 * $gap;
	background: white;
	border: 1px solid #e6e7e6;
	border-right: 0;
	@extend .z-depth-1;
	transform: translate3d(280px, 0, 0);
	transition: all 0.24s ease;
	nav {
		.nav {
			position: relative;
			display: block;
			color: $black;
			font-size: 0.8125em;
			padding: 2px 20px;
			border-left: 3px solid transparent;
			&:hover {
				background: rgba(lighten(#e1e2e3, 3%/100.0%), 60%);
				border-color: $accent-color;
			}
		}
  	}
}

$primaryTextColor: #212121;
$textPrimaryColor: #fff;
$primaryColor: #3f51b5;
$lightPrimaryColor: #c5cae9;
$accentColor: #ff4081;
.content-header {
    min-height: 210px;
    margin-left: -240px;
    padding: 104px 16px 48px 256px;
    color: $textPrimaryColor;
    background: $primaryColor;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);

    .subtitle {
        padding-top: 6px;
        font-weight: 300;
        color: $lightPrimaryColor;
    }

    .title {
        font-weight: 500;
    }

    .article-category-list-link {
        color: lighten($accentColor, 10%);
    }

}

.post-header {

    .title, .subtitle {
        display: none;
    }
}

@media screen and (max-width:760px) {
    .content-header {
        margin: 0;
        min-height: auto;
        padding: 72px 16px 20px;

        .title {
            font-size: 24px;
            line-height: 30px;
        }

        .subtitle {
            font-size: 14px;
            line-height: 20px
        }

    }

    .post-header {
        .title {
            display: block;
            font-size: 24px;
            line-height: 1.5;
        }
    }

}