/* Pagination */

#page-nav {
	
    padding: 20px 0px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    display: table;
	.page-number,
	.space {
  	display: none;
	}
	.next,
	.prev {
		font-size: 0.8125em;
		font-weight: normal;
		color: lighten($black, 40%);
		border-radius: 2px;
		
		&:hover {
			color: $black;
		}
		span {
			line-height: 20px;
			vertical-align: middle;
			
			&.icon {
				position: relative;
				top: 1px;
			}
		}
	}
	.next {
  	float: right;
  	padding: 0 7px 2px 10px;
	}
	.next_page{
		float: right;
		
	}
	.prev_page{
		float: left;
		
	}
	.prev {
  	float: left;
  	padding: 0 10px 2px 7px;
	}
}


.pagination.pagination-no-border>li>a,.pagination.pagination-no-border>a,.pagination.pagination-no-border>span {
    border: 0
}

.pagination>a,.pagination>em,.pagination>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    font-style: normal;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination>li>a,.pagination>li>span,.pagination>li:first-child>a,.pagination>li:first-child>span,.pagination>li:last-child>a,.pagination>li:last-child>span,.pagination>a,.pagination>em,.pagination>span {
    border-radius: 20px;
    margin: 0 2px;
    color: #777777
}

.pagination>a:hover,.pagination>a:focus,.pagination>em:focus,.pagination>em:hover {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd
}

.pagination>li.active>a,.pagination>li.active>span,.pagination>li.active>a:hover,.pagination>li.active>span:hover,.pagination>li.active>a:focus,.pagination>li.active>span:focus,.pagination>em,.pagination>em:hover,.pagination>em:focus {
    background-color: #2ca8ff;
    border: 0;
    color: #FFFFFF;
    padding: 7px 13px
}
