---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "_defines";
@import "_fonts";
@import "_normalize";
@import "_base";
@import "_header";
@import "_main";
@import "_side";
@import "_toc";
@import "_widget";
@import "_archive";
@import "_article";
@import "_pagination";
@import "_search";
@import "_footer";
@import "_waves";

// 搜索
#results-container{ 
    position: absolute;
    list-style: none;
    line-height: 28px;
    width: 100%;
    top: 38px;
    background-color: #517edc;
    text-align: center;
    li{
        padding: 10px;
        background-color: #517edc;
        border-bottom: 1px solid #ebecee;
    }
}